/* Add font montserrat using google API */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Define root properties & aliases */
:root {
    /* Add variable for theme */
    --font: 'Montserrat';   
    /* Dark mode*/
    --header-color-dark: #5A3737;
    --background-color-dark: #181818;
    --text-color-dark: #F3F3F3;
    /* Light mode*/
    --header-color-light: #60a0ff;
    --background-color-light: #e9e9e9;
    --text-color-light: #181818;
    background-color: #181818;
}

body {
    min-width: 400px;
    border-radius: 10px;
}

/* div properties */
.master-container, .container-title {
    display: flex;
    flex-flow: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.container-title {
    background: var(--header-color-dark);
    padding: 1.25rem;
    margin: 1.25rem;
    border-radius: 10px;
}

.container-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: fit-content;
    margin: 1.25rem;
    padding: 1.25rem;
}

.btn-actions {
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 1rem;
    padding: .5rem;
    margin: .5rem;
    min-width: 360px;
    align-content: center;
    color: var(--text-color-dark);
    border-radius: 10px;
    background-color: blue;
    font-family: var(--font);
}

.btn-actions:hover {
/* TODO: animate hover on button, my animate isn't right */
    background-color: var(--header-color-light);
    animation: ease-in-out 100ms 0ms;
    color: #FFFFFF;
}

/* diverse fonts properties */
.title, #title {
    font-family: var(--font);
    font-size: xx-large;
    font-weight: bolder;
    color: var(--text-color-dark);
}

.text, #text {
    font-family: var(--font);
    font-size: large;
    font-weight: bold;
    color: var(--text-color-dark);
}

.response-font {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    align-items: flex-start;
    padding: .25rem;
    margin: .25rem;
}

.response-color {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    align-items: flex-start;
    padding: .25rem;
    margin: .25rem;
}

p {
    color: var(--text-color-dark);
    font-family: var(--font), sans-serif;
    font-size: .8rem;
    font-style: normal;
    text-align: left;
    align-items: flex-start;
    align-content: flex-start;
}

hr {
    width: 100%;
    color: var(--background-color-light);
}

h2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
}